---
layout: default
---

<article class="page">
  <div class='angellist_embed' data-user_id='277748'>  <a href='https://angel.co/peter-de-croos?utm_medium=web&utm_campaign=individual_embed&utm_content=277748'></a></div><script type='text/javascript' src='https://angel.co/peter-de-croos/embed/angellist.js'></script>

    {% if page.title %}
    <h1 class="title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% endif %}
    <div class="entry-content">{{ content }}</div>
</article>
{% unless page.footer == false %}
    {% include post/sharing.html %}
{% endunless %}
{% if site.disqus_short_name and page.comments == true %}
<section id="comment">
    <h1 class="title">Comments</h1>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
</section>
{% endif %}


